out
dist
node_modules
.vscode-test/
*.vsix
# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db

# Coverage / Reports
coverage/
*.lcov

# Misc build artifacts
temp/
tmp/
.tsbuildinfo
